# Ignore environment variables file
.env

# Ignore Python bytecode and cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/
ENV/
.venv/

# Build artifacts
build/
dist/
*.egg-info/

# Logs and temporary files
*.log
*.tmp

# VSCode settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
